* {
    background-color: #0d9488;
    font-family: Arial, Helvetica, sans-serif; 
}

h1 {
    color: #d1d5db;
    padding: 10px;

}

ul {
    font-size: 20px;
    line-height: 2;
    margin: 10px;
}   
